# docker-compose のバージョン
version: '3.4'

# 各コンテナの情報
services:

  # postgres サービス
  postgres:
    # コンテナの名前
    container_name: postgres-container
    # Dockerfile のディレクトリパス
    build:
      context: .
      dockerfile: ./docker/postgres/Dockerfile

  # golang アプリケーション
  # 開発環境用
  osake_dev:
    container_name: osake-dev-container
    # postgres のコンテナとリンク
    depends_on:
      - postgres
    # Dockerfile を指定
    build:
      context: .
      dockerfile: ./docker/golang/Dockerfile
      target: build_env
    ports:
      - "18080:8080"
    # ${GOPATH}/src をマウント
    volumes:
      - ./go:/go/src/github.com/muroya2355/osake/go/
    # docker-compose run 実行時に実行されるコマンド
    command: bash -c "go build -o osake && ./osake"

  # golang アプリケーション
  # 実行環境用
  osake:
    container_name: osake-container
    depends_on:
      - postgres
    build:
      context: .
      dockerfile: ./docker/golang/Dockerfile
    ports:
      - "10080:8080"
    command: /opt/osake/osake