<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>商品一覧／検索画面</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
  <h1>商品一覧／検索画面</h1>

  <div class="container pull-left">
    <div class="panel panel-default">
      <div class="panel-heading">商品リスト</div>
      <div class="panel-body">

        <div style="display:inline-flex">
          <form class="form-inline" action="/goodslist" method="GET">
            <div class="form-group">
              <label class="control-label">商品名:</label>
              <input class="form-control" type="query" name="query" value="" />
              <button class="btn btn-default">検索</button>
            </div>
          </form>
          &nbsp;
          <form class="form-inline" action="/goodslist" method="GET">
            <button class="btn btn-default">一覧</button>
          </form>
        </div>

        {{ if . }}
        <table class="table table-bordered text-nowrap">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>分類</th>
              <th>メーカー</th>
              <th>販売価格</th>
              <th>仕入れ値</th>
              <th>在庫</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{ range $name, $goods := . }}
            <tr>
              <td>{{ $goods.GoodsID }}</td>
              <td>{{ $goods.GoodsName }}</td>
              <td>{{ $goods.ClassName }}</td>
              <td>{{ $goods.MakerName }}</td>
              <td>{{ $goods.IndicatedPrice }}</td>
              <td>{{ $goods.PurchasePrice }}</td>
              <td>{{ $goods.Stock }}</td>
              <td align="center">
                <form action="/goods/{{$goods.GoodsID}}" method="get">
                  <!--<input type="hidden" name="goodsid" value={{$goods.GoodsID}}>-->
                  <button class="btn btn-default">詳細</button>
                </form>
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
        {{ end }}

      </div>
    </div>
  </div>
  </div>

  <div class="container pull-left">
    <div class="panel panel-default">
      <div class="panel-heading">商品追加フォーム</div>
      <div class="panel-body">
        <form action="/inputgoods" method="get">
          <button class="btn btn-default">追加</button>
        </form>
      </div>
    </div>
  </div>
  </div>
  <div class="container pull-left">
    <div class="panel panel-default">
      <div class="panel-heading">ログアウトフォーム</div>
      <div class="panel-body">
        <form action="/logout" method="GET">
          <button class="btn btn-default">ログアウト</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</body>

</html>