<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>商品詳細画面</title>
</head>
<body>
	<h1>商品詳細画面</h1>
	<div>
		<form action="/updategoods" method="post">
			{{ $goods := .Goods }}
			<table>
				<tr>
					<td>商品ID</td>
					<td>{{ $goods.GoodsID }}</td>
					<input type="hidden" name="goodsid" value={{$goods.GoodsID}}>
				</tr>
				<tr>
					<td>商品名</td>
					<td><input type="text" id="goodsname" name="goodsname" value={{$goods.GoodsName}}></td>
				</tr>
				<tr>
					<td>分類</td>
					<td>
						<select name="classid">
						{{ range $index, $class := .Classes }}
							{{ if eq $goods.ClassID $class.ClassID }}
							<option value={{ $class.ClassID }} selected>{{ $class.ClassName }}</option>
							{{ else }}
							<option value={{ $class.ClassID }}>{{ $class.ClassName }}</option>
							{{ end }}
						{{ end }}
						</select>
					</td>
				</tr>
				<tr>
					<td>メーカー</td>
					<td>
						<select name="makerid">
						{{ range $index, $maker := .Makers }}
							{{ if eq $goods.MakerID $maker.MakerID }}
							<option value={{ $maker.MakerID }} selected>{{ $maker.MakerName }}</option>
							{{ else }}
							<option value={{ $maker.MakerID }}>{{ $maker.MakerName }}</option>
							{{ end }}
						{{ end }}
						</select>
					</td>
				</tr>
				<tr>
					<td>販売価格</td>
					<td><input type="text" name="indicatedprice" value={{$goods.IndicatedPrice}}></td>
				</tr>
				<tr>
					<td>仕入れ値</td>
					<td><input type="text" name="purchaseprice" value={{$goods.PurchasePrice}}></td>
				</tr>
				<tr>
					<td>在庫</td>
					<td><input type="text" name="stock" value={{$goods.Stock}}></td>
				</tr>
				<tr>
					<td><input type="submit" value="更新"></td>
				</tr>
			</table>
		</form>
		<form action="/deletegoods" method="POST" onsubmit="return deleteChk()">
			<input type="hidden" name="goodsid" value={{$goods.GoodsID}}>
			<input type="submit" value="削除">
		</form>
	</div>
	<script>
		// 確認用のダイアログを表示
		function deleteChk() {
			// 商品名を入力させる
			goodsname = window.prompt("確認用：商品名を入力してください", "");
			return document.getElementById("goodsname").value==goodsname;
		}
	</script>
</body>
</html>