<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>ログイン画面</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container pull-left">
    <div class="panel panel-default">
      <div class="panel-heading">ログインフォーム</div>
      <div class="panel-body">
        {{ if . }}
        <div>
          {{ range $name, $errmsg := . }}
          <font color="#ff4500">{{ $errmsg }}</font></br>
          {{ end }}
        {{ end }}
        </div>
        <form class="form-horizontal" action="/authenticate" method="post">
          <div class="form-group">
            <label class="cotrol-label col-sm-2">ユーザID:</label>
            <div class="col-sm-10">
              <input class="form-group" type="text" name="loginid" />
            </div>
          </div>
          <div class="form-group">
            <label class="cotrol-label col-sm-2">パスワード:</label>
            <div class="col-sm-10">
              <input class="form-group" type="password" name="password" />
            </div>
          </div>
          <button class="btn btn-default">ログイン</button>

        </form>
      </div>
    </div>
  </div>
  </div>
</body>

</html>